@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<!--Úvodní stránka-->
<div class="text-center">
    <h1 class="display-4">Prima rande</h1>
    <p>Vítej. Účelem této hry je zlepšit tvou úroveň v seznamování se. A když ne to, tak tě alespoň na chvíli zabavit. Přejeme mnoho štěstí! </p>
    <a asp-page="/Pages" class="btn btn-secondary">Začít hru!</a>
</div>
