@page
@model RPG_game.Pages.PagesModel
@using RPG_game.Model
@{
    ViewData["Title"] = "Pages";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Pages</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <div class="text-center">
        <h1 class="display-4">@Model.Location.Name</h1>
        <p>@Model.Location.Description</p>
        <div class="btn-gak si o pomocroup" role="group" aria-label="Basic example">
            @foreach (var item in Model.Location.Paths)
            {
                <a asp-page="/Room" asp-route-to="@item.PathId" class="btn btn-primary">@item.PathDescription</a>
            }
        </div>
    </div>
</body>
</html>
