@page
@model RPG_game.Pages.ParkModel
@{
    ViewData["Title"] = "Park";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Park</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <div class="text-center">
        <h1 class="display-4">Park Cestovatelů</h1>
        <p>Park...</p>
        <form method="post">
            <button asp-page="/Square">Zpět na náměstí</button>
        </form>
    </div>
</body>
</html>
