@page
@model RPG_game.Pages.RoomModel
@{
    ViewData["Title"] = "Room";
}
<!--Pokoj - domov-->
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Room</title>
</head>
<body>
    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
    <div class="text-center">
        <h1 class="display-4">Pokoj</h1>
        <p>Jsi ve svém pokoji...</p>
        <form method="post">
            <button asp-page="/Square">Vydat se ven</button>
        </form>
    </div>
</body>
</html>
